
* {box-sizing:border-box;}

img{
  display:block;
  width: 100%;

}

h1{
    text-align:center;

}

form{
    width: 90%;
    margin:auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.model{
    width: 25%;
    display:inline-block;
    border:solid 2px darkgray;
    border-radius: 50px;
    padding:10px;
    margin:100px;
    margin-bottom:10px;
    text-align: center;
    box-shadow: grey 2px 2px 2px 2px;

}
.couleur{
    width: 25%;
    display:inline-block;
    border:solid 2px darkgray;
    border-radius: 50px;
    padding:10px;
    margin:100px;
    margin-bottom:10px;
    text-align: center;
    box-shadow: grey 2px 2px 2px 2px;
}

.puissance{
    width: 25%;
    display:inline-block;
    border:solid 2px darkgray;
    border-radius: 50px;
    padding:10px;
    margin:100px;
    margin-bottom:10px;
    text-align: center;
    box-shadow: grey 2px 2px 2px 2px;
}

.option{
    width: 25%;
    display:inline-block;
    border:solid 2px darkgray;
    border-radius: 50px;
    padding:10px;
    margin:100px;
    margin-bottom:10px;
    text-align: center;
    box-shadow: grey 2px 2px 2px 2px;
}

input{
    width: 30%;
    border:solid 2px darkgray;
    border-radius: 50px;
    text-align:center;
    font-size: 20px;
    box-shadow:  2px 2px grey;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:150px;
    padding:30px;
    font-family: 'Poiret One', cursive;
    font-size: 30px;

    }

    .typeVoiture{
        width: 100%;
        text-align:center;
        font-size:40px;
        font-family: 'Poiret One', cursive;
        text-transform: uppercase;
    }

    .couleur:hover{
        background-color: burlywood;
    }

    .model:hover{
        background-color: burlywood;
    }

    .puissance:hover{
        background-color: burlywood;
    }

    .option:hover{
        background-color: burlywood;
    }